
*,
*::after,
*::before{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}

#my_header {
    height: 171px;
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#my_footer {
    width: auto;
    height: 60px;
    background-color: #cff5d1;
}


